{% extends "layout.html" %}

{% block content %}

<h1>welcome to myproject</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %} ">Create a tweet</a>
<div class="container row gap-3">

<div class="container">
  <div class="row">

    {% for tweet in tweets %}
      <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">

          {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" class="card-img-top" alt="tweet image">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>

            {% if tweet.user == user %}

            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
          </div>

        </div>
      </div>
    {% endfor %}


    {% for tweet in tweets %}
<div class="card mb-3">
    <div class="card-body">
        <p>{{ tweet.text }}</p>
        <small class="text-muted">By {{ tweet.user.username }}</small>

        {% if tweet.user == request.user %}
        <div class="mt-2">
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
        {% endif %}

        <a href="{% url 'tweet_detail' tweet.id %}" class="btn btn-sm btn-outline-secondary mt-2">Read More</a>
    </div>
</div>
{% endfor %}


  </div>
</div>

{% endblock %}
